## Finding the percentage

In [1]:
if __name__ == '__main__':
    student_marks = {}
    for _ in range(int(input())):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    if query_name in student_marks:
        a=(sum(student_marks[query_name])/(len(student_marks[query_name])))
        print('{0:.2f}'.format(a))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

## String Split and Join

In [3]:
def split_and_join(line):
    return line.replace(' ','-')

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

this is a string
this-is-a-string

## Set .intersection() Operation

In [4]:
x=int(input())
a=set(map(int,input().split()))
y=int(input())
b=set(map(int,input().split()))
print(len(a&b))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## Find the Runner-Up Score!

In [5]:
if __name__ == '__main__':
    n = int(input())
    arr = sorted(list(set(map(int, input().split()))))
    print(arr[-2])

5
2 3 6 6 5
5

## sWAP cASE

In [5]:
def swap_case(s):
    return s.swapcase()

if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

HackerRank.com presents "Pythonist 2".
hACKERrANK.COM PRESENTS "pYTHONIST 2".

## Arithmetic Operators

In [6]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

3
2
5
1
6

## Python: Division

In [7]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
3
1
1.3333333333333333

## Python If-Else

In [9]:
if __name__ == '__main__':
    n = int(input().strip())
    if n % 2 == 0:
        if n in range(2,6):
            print("Not Weird")

        elif n in range(6,21):
            print("Weird")

        elif n > 20:
            print("Not Weird")
    else:
        print("Weird")

3
Weird

## Nested Lists

In [10]:
if __name__ == '__main__':
    l = []
    second_lowest_names = []
    scores = set()

    for _ in range(int(input())):
        name = input()
        score = float(input())
        l.append([name, score])
        scores.add(score)
            
    second_lowest = sorted(scores)[1]

    for name, score in l:
        if score == second_lowest:
            second_lowest_names.append(name)

    for name in sorted(second_lowest_names):
        print(name, end='\n')

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## Loops

In [11]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

5
0
1
4
9
16

## Write a function

In [12]:
def is_leap(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)

year = int(input())
print(is_leap(year))

1990
False

## Find a string

In [13]:
def count_substring(string, sub_string):
    ct=0
    for i in range(len(string)-len(sub_string)+1):
        if string[i:(i+len(sub_string))]==sub_string:
            ct+=1
    return ct

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

ABCDCDC
CDC
2

## Lists

In [14]:
if __name__ == '__main__':
    n = int(input())
    l = []
    for _ in range(n):
        s = input().split()
        cmd = s[0]
        args = s[1:]
        if cmd !="print":
            cmd += "("+ ",".join(args) +")"
            eval("l."+cmd)
        else:
            print(l)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]